@model ProductViewModel

@{
    ViewData["Title"] = "ویرایش محصول";
}

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
        <form asp-action="Add" enctype="multipart/form-data" method="post" class="card mb-0">
            <div class="card-header">
                <h3 class="card-title">مشخصات محصول</h3>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label asp-for="Title" class="form-label"></label>
                            <input asp-for="Title" type="text" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="Categories" class="form-label"></label> 
                            <select asp-for="Categories" class="form-control select2-show-search border-bottom-0 w-100 select2-show-search select2-hidden-accessible" data-placeholder="Select" data-select2-id="3" tabindex="-1" aria-hidden="true">
                                <optgroup label="Categories" data-select2-id="24"> 
                                    <option data-select2-id="5" selected="selected">--Select--</option>
                                </optgroup>
                            </select>
                            <span class="select2 select2-container select2-container--default" dir="rtl" data-select2-id="39" style="width: 100%;">
                                <span class="selection">
                                    <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-2j92-container">
                                        <span class="select2-selection__rendered" id="select2-2j92-container" role="textbox" aria-readonly="true" title="--Select--">--Select--</span>
                                        <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
                                    </span>
                                </span><span class="dropdown-wrapper" aria-hidden="true"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label asp-for="Price" class="form-label"></label>
                            <input asp-for="Price" type="number" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label asp-for="Discount" class="form-label"></label>
                            <input asp-for="Discount" type="number" class="form-control" />
                            <span asp-validation-for="Discount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Description" class="form-label"></label>
                            <textarea asp-for="Description" rows="5" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <img src="~/img/products/@Model.PictureName" alt="تصویری یافت نشد" width="200" height="80" class="img-responsive" style="margin: auto;" />
                        <div class="form-group mb-0">
                            <label class="form-label">آپلود تصویر</label>
                            <div class="custom-file">
                                <input asp-for="Picture" type="file" class="custom-file-input" name="example-file-input-custom">
                                <label asp-for="Picture" class="custom-file-label">Choose file</label>
                                <span asp-validation-for="Picture" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">افزودن کالا</button>
            </div>
        </form>
    </div>
</div>