@model RoleViewModel

@{
    ViewData["Title"] = "ویرایش نقش";
}

<h1>Edit</h1>

<h4>EditRoleViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" disabled class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-primary" />
            </div>
        </form>
        <a asp-controller="Role" asp-action="Claims" asp-route-Id="@Model.Id" class="btn btn-primary">ویرایش دسترسی ها</a>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

