@model LoginViewModel

@{
    ViewData["Title"] = "ورود به حساب";
}

<section class="sptb">
    <div class="container customerpage">
        <div class="row">
            <div class="single-page">
                <div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
                    <div class="wrapper wrapper2">
                        <form id="login" class="card-body" tabindex="500" method="post" asp-action="Signin">
                            <h3>ورود</h3>
                            <div asp-validation-summary="All"></div>
                            <div class="mail">
                                <input asp-for="UserName"> <label asp-for="UserName"></label> <span asp-validation-for="UserName"></span>
                            </div>
                            <div class="passwd">
                                <input asp-for="Password"> <label asp-for="Password"></label> <span asp-validation-for="Password"></span>
                            </div>
                            <div class="checkbox">
                                <input asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                            </div>
                            <div class="submit"> <input type="submit" class="btn btn-primary btn-block" value="ورود"> </div>
                            <p class="mb-2"><a href="#">فراموشی رمز عبور</a></p>
                            <p class="text-dark mb-0">ثبت نام نکرده اید ؟ <a asp-action="Signup" class="text-primary ml-1">ثبت نام </a></p>
                        </form>
                        <hr class="divider">
                        <div class="card-body">
                            <div class="text-center">
                                <div class="btn-group">
                                    <a href="https://www.facebook.com/" class="btn  ml-2 btn-icon brround">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                </div>
                                <div class="btn-group">
                                    <a href="https://www.google.com/gmail/" class="btn  ml-2 btn-icon brround">
                                        <span class="fa fa-google"></span>
                                    </a>
                                </div>
                                <div class="btn-group">
                                    <a href="https://twitter.com/" class="btn  btn-icon brround"> <span class="fa fa-twitter"></span> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }